*{
    font-family: "Open Sans", "Lato", sans-serif;
}

html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

.tela_com{
    background-color: #3f131e;
    height: 100%;
    margin: 0;
    padding: 0;
}

.tela_com .row{
    height: 100%;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    max-width: 100%;
    height: auto;
}

form{
    background-color: #f1edd0;
    color: #3f131e;
    padding: 10%;
    width: 100%;
    height: 100%;
    text-align: center;
}

form h1{
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
}

input{
    font-size: 15px;
    height: 60px;
    width: 70%;
    border: 3px solid #3f131e;
    background-color: aliceblue;
    border-radius: 25px;
    padding-left: 5%;
}

.buton{
    padding: 0;
    background-color: #3f131e;
    color: aliceblue;
    width: 45%;
    font-size: 20px;
}

.form_dentro{
    margin-top: 20%;
}