.conf {
        display: none;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    body {
        background-color: #f8f9fa;
    }

    .container-fluid {
        margin-top: 20px;
    }

    h1 {
        margin-bottom: 30px;
    }

    .form-control {
        border-radius: 0;
    }

    .btn {
        border-radius: 0;
    }

    .container-fluid {
        max-width: 500px;
        margin: auto;
        padding: 20px;
        background-color: #202931;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        color: #ffffff;
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }