body {
        background-color: #f8f9fa;
    }

    .container-fluid {
        padding: 20px;
        font-family: Arial, sans-serif;
        color: #f8f9fa;
        background-color: #343a40;
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
        max-width: 1200px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
        margin-bottom: 50px;
    }

    h1 {
        margin-bottom: 30px;
    }

    .table {
        width: 100%;
        margin-top: 20px;
    }

    th, td {
        text-align: center;
    }
    
    .btn {
        margin: 5px;
    }

    .btn-danger {
        background-color: #d1a97e;
        border-color: #d1a97e;
        color: #000;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 5px;
    }
    
    .confirm {
        display: none;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #343a40;
        padding: 20px;
    }