{% extends "./base.html" %}
{% load static %}

{% block head %}
<title>COAPAC - Reservas realizadas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "reservas.css" %}'>
    <script src='{% static "reservas.js" %}' defer></script>
{% endblock %}

{% block content %}
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Reservas realizadas</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Mês</th>
                            <th>Dia da Semana</th>
                            <th>Hora</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody id="reservasTableBody">
                        <!-- As reservas serão adicionadas aqui dinamicamente -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}