{% extends 'base.html' %}

{% block title %}Empréstimo{% endblock %}

{% block inicial %}
<a href="{% url 'inicial' %}"><i class="fa-solid fa-house fa-lg" style="color: #ffffff; height: 80px;"></i></a>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div>
                <a href="{% url 'itensVisualizacao' %}" class="botao">Itens cadastrados</a>
            </div>
        </div>

        <div class="col-4">
            <form method="post">
                {% csrf_token %}
                <h2>Cadastro de Empréstimo</h2>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="{{ form.produtos.id_for_label }}" class="form-label">Produto</label>
                                {{ form.produtos }}
                            </div>
                            <div class="mb-3">
                                <label for="data_saida" class="form-label">Data de saída</label>
                                {{ form.dataSaida }}
                            </div>
                            <div class="mb-3">
                                <label for="requerente" class="form-label">Requerente</label>
                                <input type="text" class="form-control" id="requerente" name="requerente" value="{{ request.POST.requerente }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="vinculo" class="form-label">Vínculo</label>
                                <input type="text" class="form-control" id="vinculo" name="vinculo" value="{{ request.POST.vinculo }}" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="usuario_nome" class="form-label">Responsável</label>
                                <input type="text" class="form-control" id="usuario_nome" name="usuario_nome"
                                value="{{ usuario_logado.get_full_name|default:usuario_logado.nome }}" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="data_entrega" class="form-label">Data de entrega</label>
                                {{ form.dataDevolucao }}
                            </div>
                            <div class="mb-3">
                                <label for="matricula" class="form-label">Matrícula</label>
                                <input type="text" class="form-control" id="matricula" name="matricula" value="{{ request.POST.matricula }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="turma_disciplina" class="form-label">Turma ou Disciplina</label>
                                <input type="text" class="form-control" id="turma_disciplina" name="turma_disciplina" value="{{ request.POST.turma_disciplina }}"
                                    required>
                            </div>
                        </div>
                        <button type="submit" class="botao">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
<style>
    .container-fluid {
        margin-top: 20px;
    }

    h2 {
        margin: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    form {
        justify-content: center;
        text-align: center;
        padding: 20px;
        border: #3f131e 2px solid;
        border-radius: 10px;
    }
</style>
{% endblock %}