{% extends 'base.html' %}

{% block title %}Inicial{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div style="text-align: center;" class="col-12 col-sm-2 col-md-2 col-lg-1">
            <div><a href="{% url 'emprestimo' %}" class="botao">Cadastrar empréstimo</a></div>
            <div><a href="{% url 'itensCadastro' %}" class="botao">Cadastrar itens</a></div>
            <div><a href="{% url 'itensVisualizacao' %}" class="botao">Visualizar listas de itens</a></div>
        </div>
        <div style="padding: 0 30px; text-align: center;" class="col-12 col-sm-8 col-md-8 col-lg-10">
            <h2>Lista de empréstimos</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Data de saída</th>
                        <th>Data de entrega</th>
                        <th>Responsável</th>
                        <th>Requerente</th>
                        <th>Matrícula</th>
                        <th>Vínculo</th>
                        <th>Turma ou disciplina</th>
                        <th>Entregue</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for emprestimo in emprestimos %}
                    <tr>
                        <td>{{ emprestimo.produtos.nome }}</td>
                        <td>{{ emprestimo.dataSaida }}</td>
                        <td>{{ emprestimo.dataDevolucao }}</td>
                        <td>{{ emprestimo.usuarios.nome }}</td>
                        <td>{{ emprestimo.comunidadeEscolar.nome }}</td>
                        <td>{{ emprestimo.comunidadeEscolar.matricula }}</td>
                        <td>{{ emprestimo.comunidadeEscolar.vinculo }}</td>
                        <td>{{ emprestimo.comunidadeEscolar.turmaouDisciplina }}</td>
                        <td>{% if emprestimo.entregue %}Sim{% else %}Não{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-sm-2 col-md-2 col-lg-1">
        </div>
    </div>
</div>
{% endblock %}