{% extends 'base.html' %}

{% block title %}Inicial{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div style="text-align: center;" class="col-12 col-sm-2 col-md-2 col-lg-1">
            
        </div>
        <div style="padding: 0 30px; text-align: center;" class="col-12 col-sm-8 col-md-8 col-lg-10">
            <h2>Lista de empréstimos</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Data de saída</th>
                        <th>Data de entrega</th>
                        <th>Responsável</th>
                        <th>Requerente</th>
                        <th>Matrícula</th>
                        <th>Vínculo</th>
                        <th>Turma ou disciplina</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.credencial }}</td>
                        <td>{{ usuario.nome }}</td>
                        <td><a href="{% url 'usuarioEditar' usuario.id %}" class="btn btn-warning">Editar</a></td>
                        <td><a href="{% url 'usuarioExcluir' usuario.id %}" class="btn btn-danger">Dar baixa</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-sm-2 col-md-2 col-lg-1">
        </div>
    </div>
</div>
{% endblock %}