{% extends 'base.html' %}

{% block title %}Inicial{% endblock %}

{% block inicial %}
<a href="{% url 'inicial' %}"><i class="fa-solid fa-house fa-lg" style="color: #ffffff; height: 80px;"></i></a>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row" >
        <div style="text-align: center;" class="col-12 col-sm-2 col-md-2 col-lg-2">
            <div><a href="{% url 'emprestimo' %}" class="botao" lang="pt-br">Cadastrar empréstimo</a></div>
            <div><a href="{% url 'itensCadastro' %}" class="botao" lang="pt-br">Cadastrar itens</a></div>
            <div><a href="{% url 'itensVisualizacao' %}" class="botao" lang="pt-br">Itens cadastrados</a></div>
        </div>

        <div style="padding: 0 40px; text-align: center;" class="col-12 col-sm-9 col-md-9 col-lg-9">
            <h2>Lista de empréstimos</h2>
            <table class="table table-striped align-middle text-center">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Data de saída</th>
                        <th>Data de entrega</th>
                        <th>Responsável</th>
                        <th>Requerente</th>
                        <th>Matrícula</th>
                        <th>Vínculo</th>
                        <th>Turma ou disciplina</th>
                        <th>Entregue</th>
                        <th>Devolver empréstimo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emprestimo in emprestimos %}
                    <tr>
                        <td>{{ emprestimo.produtos.nome }}</td>
                        <td>{{ emprestimo.dataSaida }}</td>
                        {% if emprestimo.dataDevolucao %}
                        <td>{{ emprestimo.dataDevolucao }}</td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                        <td>{{ emprestimo.usuarios.nome }}</td>
                        <td>{{ emprestimo.comunidadeEscolar.nome }}</td>
                        <td>{{ emprestimo.comunidadeEscolar.matricula }}</td>
                        <td>{{ emprestimo.comunidadeEscolar.vinculo }}</td>
                        <td>{{ emprestimo.comunidadeEscolar.turmaouDisciplina }}</td>
                        <td>{% if emprestimo.dataDevolucao %}Sim{% else %}Não{% endif %}</td>
                        {% if emprestimo.dataDevolucao %}
                        <td><a href="{% url 'inicial' %}" class="botao">Já devolvido</a></td>
                        {% else %}
                        <td><a href="{% url 'editar_emprestimo' emprestimo.idEmprestimo %}" class="botao">Devolver</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-sm-1 col-md-1 col-lg-1">
        </div>
    </div>
</div>
<style>
    .botao{
        width: 100%;
        padding: auto;
        box-sizing: border-box;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
    }
</style>
{% endblock %}