{% extends 'base.html' %}

{% block title %}Itens Devolutivos{% endblock %}

{% block inicial %}
<a href="{% url 'inicial' %}"><i class="fa-solid fa-house fa-lg" style="color: #ffffff; height: 80px;"></i></a>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div><a href="{% url 'itensVisualizacao' %}" class="botao">Itens cadastrados</a></div>
                <div><a href="{% url 'tipoItensVisualizacao' %}" class="botao">Tipos de itens</a></div>
            </div>
            <div class="col-4">
                <form method="post">
                    {% csrf_token %}
                    <h2 style="text-align: center;">Cadastro de Itens</h2>
                    <div class="mb-3">
                        <label for="nome_item" class="form-label">Nome do Item</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>
                    <div class="mb-3">
                        <label for="marca_item" class="form-label">Marca do Item</label>
                        <input type="text" class="form-control" id="marca" name="marca" required>
                    </div>
                    <div class="mb-3">
                        <label for="Tipo_produto" class="form-label">Tipo do Produto</label>
                        <select class="form-select" id="tipoProduto" name="tipoProduto" required>
                            <option value="">Selecione o Tipo do Produto</option>
                            <option value="livro">Livro</option>
                            <option value="material_didatico">Material Didático</option>
                            <option value="equipamento">Equipamento</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <input type="radio" id="devolutivo" name="tipo_item" value="devolutivo">
                        <label for="devolutivo">Devolutivo</label>
                        <input type="radio" id="nao_devolutivo" name="tipo_item" value="nao_devolutivo">
                        <label for="nao_devolutivo">Não Devolutivo</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar Item</button>
                </form>
            <div class="col-4">

            </div>
        </div>
    </div>
{% endblock %}