{% extends 'base.html' %}

{% block title %}Itens{% endblock %}

{% block inicial %}
<a href="{% url 'inicial' %}"><i class="fa-solid fa-house fa-lg" style="color: #ffffff; height: 80px;"></i></a>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <div><a href="{% url 'itensCadastro' %}" class="botao">Cadastrar itens</a></div>
        </div>
        <div class="col-5" >
            <h2>Lista de Itens Devolutivos</h2>
            <table class="table table-striped align-middle text-center">
                <thead>
                    <tr>
                        <th>Nome do Item</th>
                        <th>Marca</th>
                        <th>Tipo do Item</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in devolutivos %}
                    <tr>
                        <td>{{ item.nome }}</td>
                        {% if item.marca %}
                        <td>{{ item.marca }}</td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                        <td>{{ item.tipoProduto }}</td>
                        <td>
                            <a href="{% url 'itensEditar' item.id %}" class="botao">Editar</a>
                            <a href="{% url 'itensDelete' item.id %}" style="background-color: red;" class="botao">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-5">
            <h2>Lista de Itens Não Devolutivos</h2>
            <table class="table table-striped align-middle text-center">
                <thead>
                    <tr>
                        <th>Nome do Item</th>
                        <th>Marca</th>
                        <th>Tipo do Item</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in nao_devolutivos %}
                    <tr>
                        <td>{{ item.nome }}</td>
                        {% if item.marca %}
                        <td>{{ item.marca }}</td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                        <td>{{ item.tipoProduto }}</td>
                        <td>
                            <a href="{% url 'itensEditar' item.id %}" class="botao">Editar</a>
                            <a href="{% url 'itensDelete' item.id %}" style="background-color: red;" class="botao">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>
{% endblock %}