<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>COAPAC - Salas disponíveis</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    
    <div class="AreaSalas">
        <div class="Salas">
            <div class="num">49</div>
            <div class="manha">
                    07h00 - 08h30 - <br><br>
 
                    08h50 - 10h20 - <br><br>

                    10h30 - 12h00 - <br><br>

            </div>
            <div class="tarde">
                   13h00 - 14h30 -  <br><br>

   14h50 - 16h20 -  <br><br>

   16h30 - 18h00 -  <br><br>

            </div>
            <div class="noite"></div>
        </div>

        <div class="Salas">
            <div class="num">50</div>
            <div class="manha">
                07h00 - 08h30 - <br><br>
 
                    08h50 - 10h20 - <br><br>

                    10h30 - 12h00 - <br><br>
            </div>
            <div class="tarde">
                13h00 - 14h30 -  <br><br>

   14h50 - 16h20 -  <br><br>

   16h30 - 18h00 -  <br><br>
            </div>
            <div class="noite"></div>
        </div>

        <div class="Salas">
            <div class="num">51</div>
            <div class="manha">
                07h00 - 08h30 - <br><br>
 
                    08h50 - 10h20 - <br><br>

                    10h30 - 12h00 - <br><br>
            </div>
            <div class="tarde">
                13h00 - 14h30 -  <br><br>

   14h50 - 16h20 -  <br><br>

   16h30 - 18h00 -  <br><br>
            </div>
            <div class="noite"></div>
        </div>

        <div class="Salas">
            <div class="num">52</div>
            <div class="manha">
                07h00 - 08h30 - <br><br>
 
                    08h50 - 10h20 - <br><br>

                    10h30 - 12h00 - <br><br>
            </div>
            <div class="tarde"></div>
            <div class="noite"></div>
        </div>

        <div class="Salas">
            <div class="num">54</div>
            <div class="manha">
                07h00 - 08h30 - <br><br>
 
                    08h50 - 10h20 - <br><br>

                    10h30 - 12h00 - <br><br>
            </div>
            <div class="tarde"></div>
            <div class="noite"></div>
        </div>

        <div class="Salas">
            <div class="num">55</div>
            <div class="manha">
                07h00 - 08h30 - <br><br>
 
                    08h50 - 10h20 - <br><br>

                    10h30 - 12h00 - <br><br>
            </div>
            <div class="tarde"></div>
            <div class="noite"></div>
        </div>

        <div class="Salas">
            <div class="num">61</div>
            <div class="manha">
                07h00 - 08h30 - <br><br>
 
                    08h50 - 10h20 - <br><br>

                    10h30 - 12h00 - <br><br>
            </div>
            <div class="tarde"></div>
            <div class="noite"></div>
        </div>

        <div class="Salas">
            <div class="num">62</div>
            <div class="manha">
                07h00 - 08h30 - <br><br>
 
                    08h50 - 10h20 - <br><br>

                    10h30 - 12h00 - <br><br>
            </div>
            <div class="tarde"></div>
            <div class="noite"></div>
        </div>

        <div class="Salas">
            <div class="num">64</div>
            <div class="manha">
                07h00 - 08h30 - <br><br>
 
                    08h50 - 10h20 - <br><br>

                    10h30 - 12h00 - <br><br>
            </div>
            <div class="tarde"></div>
            <div class="noite"></div>
        </div>

        <div class="Salas">
            <div class="num">65</div>
            <div class="manha">
                07h00 - 08h30 - <br><br>
 
                    08h50 - 10h20 - <br><br>

                    10h30 - 12h00 - <br><br>
            </div>
            <div class="tarde"></div>
            <div class="noite"></div>
        </div>

        <div class="Salas">
            <div class="num">66</div>
            <div class="manha">
                07h00 - 08h30 - <br><br>
 
                    08h50 - 10h20 - <br><br>

                    10h30 - 12h00 - <br><br>
            </div>
            <div class="tarde"></div>
            <div class="noite"></div>
        </div>

        <div class="Salas">
            <div class="num">71</div>
            <div class="manha">
                07h00 - 08h30 - <br><br>
 
                    08h50 - 10h20 - <br><br>

                    10h30 - 12h00 - <br><br>
            </div>
            <div class="tarde"></div>
            <div class="noite"></div>
        </div>

        <div class="Salas">
            <div class="num">80</div>
            <div class="manha">
                07h00 - 08h30 - <br><br>
 
                    08h50 - 10h20 - <br><br>

                    10h30 - 12h00 - <br><br>
            </div>
            <div class="tarde"></div>
            <div class="noite"></div>
        </div>

        <div class="Salas">
            <div class="num">81</div>
            <div class="manha">
                07h00 - 08h30 - <br><br>
 
                    08h50 - 10h20 - <br><br>

                    10h30 - 12h00 - <br><br>
            </div>
            <div class="tarde"></div>
            <div class="noite"></div>
        </div>

        <div class="Salas">
            <div class="num">82</div>
            <div class="manha">
                07h00 - 08h30 - <br><br>
 
                    08h50 - 10h20 - <br><br>

                    10h30 - 12h00 - <br><br>
            </div>
            <div class="tarde"></div>
            <div class="noite"></div>
        </div>

        <div class="Salas">
            <div class="num">83</div>
            <div class="manha">
                07h00 - 08h30 - <br><br>
 
                    08h50 - 10h20 - <br><br>

                    10h30 - 12h00 - <br><br>
            </div>
            <div class="tarde"></div>
            <div class="noite"></div>
        </div>
    </div>

</body>
</html>