{% extends 'base.html' %}

{% block title %}Cadastro dos tipos de Itens{% endblock %}

{% block inicial %}
<a href="{% url 'usuariosVisualizacao' %}"><i class="fa-solid fa-house fa-lg" style="color: #ffffff; height: 80px;"></i></a>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div style="text-align: center;" class="col-4">
        </div>

        <div style="padding: 0 30px; text-align: center;" class="col-4">

            <!-- Mensagens de cadastro e edição -->
            {% if messages %}
            <div class="mb-3">
                {% for message in messages %}
                {% if "exclusao" not in message.tags %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <h2>{% if nome %}Editar Tipo de Item{% else %}Cadastrar Tipo de Item{% endif %}</h2>

            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nome" class="form-label">Tipo de item</label>
                    <input type="text" class="form-control" id="nome" name="nome" value="{{ nome|default:'' }}"
                        required>
                </div>

                <div class="mb-3">
                    <label for="codigo" class="form-label">Tipo de item</label>
                    <input type="text" class="form-control" id="codigo" name="codigo" value="{{ codigo|default:'' }}" {%
                        if nome %}readonly{% endif %} required>
                </div>

                <button type="submit" class="btn btn-primary">
                    {% if nome %}Salvar Alterações{% else %}Cadastrar{% endif %}
                </button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<style>
    .container-fluid {
        margin-top: 20px;
    }

    h2 {
        margin: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    form {
        justify-content: center;
        text-align: center;
        padding: 20px;
        border: #3f131e 2px solid;
        border-radius: 10px;
    }
</style>
{% endblock %}