{% extends 'base.html' %}

{% block title %}Visualização de Itens{% endblock %}

{% block inicial %}
<a href="{% url 'usuariosVisualizacao' %}"><i class="fa-solid fa-house fa-lg" style="color: #ffffff; height: 80px;"></i></a>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div style="text-align: center;" class="col-12 col-sm-2 col-md-2 col-lg-1">
            <div>
                <a href="{% url 'tipoItensCadastro' %}" class="botao">Cadastrar tipo de item</a>
            </div>
        </div>
        <div style="padding: 0 30px; text-align: center;" class="col-12 col-sm-8 col-md-8 col-lg-10">

            <!-- Mensagens de exclusão -->
            {% if messages %}
            <div class="mb-3">
                {% for message in messages %}
                {% if "exclusao" in message.tags %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <h2>Lista de Itens</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome do Item</th>
                        <th>Código do Item</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tipo in tipos %}
                    <tr>
                        <td>{{ tipo.nome }}</td>
                        <td>{{ tipo.codigo }}</td>
                        <td>
                            <a href="{% url 'tipoItensEditar' tipo.codigo %}" class="btn btn-warning">Editar</a>
                            <form method="post" action="{% url 'tipoItensDelete' tipo.codigo %}" style="display:inline;" onsubmit="return confirm('Tem certeza que deseja excluir este item?');">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}