{% extends 'base.html' %}

{% block title %}Edição de Usuário{% endblock %}

{% block inicial %}
<a href="{% url 'usuariosVisualizacao' %}"><i class="fa-solid fa-house fa-lg"
        style="color: #ffffff; height: 80px;"></i></a>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <form style="margin-top: 5vh;" method="post">
                {% csrf_token %}
                <h2>Editar Usuário</h2>

                <!-- Exibição de erros -->
                {% if form.non_field_errors or form.errors %}
                <div class="alert alert-danger">
                    <ul class="mb-0">
                        {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <div class="mb-3">
                    <label for="id_credencial" class="form-label">Credencial</label>
                    <input type="text" class="form-control" id="id_credencial" name="credencial" value="{{ form.credencial.value|default_if_none:'' }}" readonly>
                </div>
                <div>
                    <label>Nome de usuário</label>
                    <input type="text" class="form-control" id="id_username" name="username" value="{{ form.username.value|default_if_none:'' }}" required>
                </div>
                <div class="mb-3">
                    <label for="id_nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="id_nome" name="nome" value="{{ form.nome.value|default_if_none:'' }}" required>
                </div>
                <div class="mb-3">
                    <label for="id_senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="id_password1" name="password1">
                </div>
                <div class="mb-3">
                    <label for="id_senha" class="form-label">Confirmação de senha</label>
                    <input type="password" class="form-control" id="id_password2" name="password2">
                </div>
                <button type="submit" class="botao">Atualizar</button>
            </form>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
<style>
    .container-fluid {
        margin-top: 20px;
    }

    h2 {
        margin: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    form {
        justify-content: center;
        text-align: center;
        padding: 20px;
        border: #3f131e 2px solid;
        border-radius: 10px;
    }
</style>
{% endblock %}