{% extends 'base.html' %}

{% block title %}Confirmar Exclusão{% endblock %}

{% block inicial %}
<a href="{% url 'usuariosVisualizacao' %}"><i class="fa-solid fa-house fa-lg"
        style="color: #ffffff; height: 80px;"></i></a>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4" style="text-align: center; margin-top: 20px;">
            <h2>Confirmar exclusão</h2>
            <p>Tem certeza que deseja excluir o usuário <strong>{{ usuario.nome }}</strong> (credencial: {{
                usuario.credencial }})?</p>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="botao" style="background-color: red;">Confirmar</button>
                <a href="{% url 'usuariosVisualizacao' %}" class="botao" style="background-color: white; color: black;">Cancelar</a>
            </form>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4"></div>
</div>
{% endblock %}