{% extends 'base.html' %}

{% block title %}Visualização de Usuário{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div style="text-align: center;" class="col-12 col-sm-2 col-md-2 col-lg-1">
            <div>
                <a href="{% url 'usuariosCadastro' %}" class="botao">Cadastrar Usuário</a>
            </div>
            <div>
                <a href="{% url 'tipoItensVisualizacao' %}" class="botao">Ver tipos de produtos</a>
            </div>
        </div>
        <div style="padding: 0 30px; text-align: center;" class="col-12 col-sm-8 col-md-8 col-lg-10">
            <h2>Lista de Usuários</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Credencial</th>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in usuarios %}
                    <tr>
                        <td>{{ u.credencial }}</td>
                        <td>{{ u.nome }}</td>
                        <td>
                            <a href="{% url 'usuariosEditar' u.credencial %}" class="btn btn-warning">Editar</a>
                            <a href="{% url 'usuariosDelete' u.credencial %}" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="3">Nenhum usuário cadastrado.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-sm-2 col-md-2 col-lg-1">
        </div>
    </div>
</div>
{% endblock %}