{% extends 'base.html' %}

{% block title %}Cadastro de Usuário{% endblock %}

{% block inicial %}
<a href="{% url 'usuariosVisualizacao' %}"><i class="fa-solid fa-house fa-lg" style="color: #ffffff; height: 80px;"></i></a>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <form style="margin-top: 5vh;" method="post">
                {% csrf_token %}
                <h2>{% if editar %}Editar Usuário{% else %}Cadastro de Novo Usuário{% endif %}</h2>
                <div class="mb-3">
                    <label for="id_credencial" class="form-label">Credencial</label>
                    <input type="text" class="form-control" id="id_credencial" name="credencial" value="{% if editar %}{{ form.credencial.value }}{% else %}{% endif %}" required>
                </div>
                <div class="mb-3">
                    <label for="id_nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="id_nome" name="nome" value="{% if editar %}{{ form.nome.value }}{% else %}{% endif %}" required>
                </div>
                <div class="mb-3">
                    <label for="id_senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="id_senha" name="senha" value="{% if editar %}{{ form.senha.value }}{% else %}{% endif %}" required>
                </div>
                <button type="submit" class="botao">{% if editar %}Atualizar{% else %}Cadastrar{% endif %}</button>
            </form>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
<style>
    .container-fluid {
        margin-top: 20px;
    }
    h2 {
        margin: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    form{
        justify-content: center;
        text-align: center;
        padding: 20px;
        border: #3f131e 2px solid;
        border-radius: 10px;
    }
</style>
{% endblock %}